@charset "UTF-8";
/* --- Fonts --- */
@font-face {
  font-family: "lucida";
  src: url("../fonts/lucida.woff");
}
/* --- Init ---  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body, * html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* --- Couleurs ---  */
/* --- Marges ---  */
.marge_bot {
  margin-bottom: 200px;
}

/* --- Contenu ---  */
.section {
  margin: 200px 0;
}
@media screen and (max-width: 900px) {
  .section {
    margin: 100px 0;
  }
}
@media screen and (max-width: 600px) {
  .section {
    margin: 50px 0;
  }
}

/* --- Button ---  */
.button {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .button {
    font-size: 14px;
  }
}
.button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid #00BBD3;
  border-left: 2px solid #00BBD3;
  border-right: 2px solid #00BBD3;
  box-sizing: border-box;
  transition: 0.3s ease;
}
.button:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  border-radius: 0 0 5px 5px;
  border-bottom: 2px solid #00BBD3;
  border-left: 2px solid #00BBD3;
  border-right: 2px solid #00BBD3;
  box-sizing: border-box;
  transition: 0.3s ease;
}
.button:hover:after, .button:hover:before {
  height: 20px;
}

.button_purple {
  color: #3C3950;
  background: rgba(255, 255, 255, 0);
}
.button_purple:after {
  border-color: #3C3950;
}
.button_purple:before {
  border-color: #3C3950;
}
.button_purple:hover {
  color: white;
  background: #3c3950;
}

.button_blue {
  background: rgba(255, 255, 255, 0);
  color: #00BBD3;
}
.button_blue:hover {
  color: white;
  background: #00bbd3;
}

.filariane {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin: 50px 0;
}
@media screen and (max-width: 600px) {
  .filariane {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .filariane {
    margin: 25px 0;
  }
}
.filariane a {
  text-decoration: none;
  color: #3C3950;
  transition: 0.3s ease;
}
.filariane a:hover {
  color: #00BBD3;
}
.filariane .slash {
  color: #00BBD3;
}

.error404 {
  width: 100vw;
  height: 100vh;
}
.error404 img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/* --- Modal formulaire envoyé ---  */
.modal_envoyer {
  opacity: 0;
  position: fixed;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  background: white;
  transition: 0.3s ease;
  z-index: 100;
}
.modal_envoyer.active {
  opacity: 1;
  top: 0;
}
.modal_envoyer .modal_text p {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  color: white;
  background: #00BBD3;
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .modal_envoyer .modal_text p {
    font-size: 14px;
  }
}

.slick-list {
  width: 100%;
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  height: 100%;
}
.slick-slide div {
  height: 100%;
  width: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.slick-dots li.slick-active {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(0, 187, 211, 0.8);
}
.barres {
  position: fixed;
  z-index: 1;
}
.barres .barre {
  width: 1px;
  background: #00BBD3;
  position: fixed;
  right: calc(5.2vw + 40px);
}
@media screen and (max-width: 900px) {
  .barres .barre {
    right: calc(5.2vw + 20px);
  }
}
.barres .barre.active {
  z-index: 2;
  background: white;
}
.barres .barre_1 {
  top: 0;
  height: calc(9.2vh - 10px);
}
.barres .barre_2 {
  top: calc(9.2vh + 90px);
  height: calc(100vh - (9.2vh + 90px));
}
@media screen and (max-width: 900px) {
  .barres .barre_2 {
    top: calc(9.2vh + 50px);
    height: calc(100vh - (9.2vh + 50px));
  }
}

header.home {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 600px) {
  header.home {
    background-image: url("../images/header2.jpg");
    background-position: center;
    background-size: cover;
  }
}
header.home .header_paralaxe {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  header.home .header_paralaxe {
    display: none;
  }
}
header.home .header_paralaxe img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header.home .header_paralaxe img:nth-child(1) {
  z-index: -1;
}
header.home .header_paralaxe img:nth-child(2) {
  z-index: 1;
  position: absolute;
  top: calc(100% - 510px);
  left: 50%;
  transform: translateX(-50%);
  width: 2880px;
  height: 750px;
  object-position: bottom center;
  object-fit: contain;
}
@media screen and (max-width: 1200px) {
  header.home .header_paralaxe img:nth-child(2) {
    top: calc(100% - 450px);
    height: 530px;
  }
}
@media screen and (max-width: 900px) {
  header.home .header_paralaxe img:nth-child(2) {
    top: calc(100% - 390px);
    height: 390px;
  }
}
header.home .header_paralaxe p {
  position: absolute;
  color: #3C3950;
  font-family: agency-fb-extended, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  font-size: 110px;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
  bottom: 278px;
  z-index: 0;
}
@media screen and (max-width: 1600px) {
  header.home .header_paralaxe p {
    font-size: 80px;
    bottom: 285px;
  }
}
@media screen and (max-width: 1200px) {
  header.home .header_paralaxe p {
    font-size: 60px;
    bottom: 290px;
  }
}
@media screen and (max-width: 900px) {
  header.home .header_paralaxe p {
    font-size: 40px;
    bottom: 273px;
  }
}
header.home .header_paralaxe p span {
  position: relative;
  top: -50px;
  opacity: 0;
}
header.home .header_paralaxe p span:nth-child(1) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 1));
}
header.home .header_paralaxe p span:nth-child(2) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 2));
}
header.home .header_paralaxe p span:nth-child(3) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 3));
}
header.home .header_paralaxe p span:nth-child(4) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 4));
}
header.home .header_paralaxe p span:nth-child(5) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 5));
}
header.home .header_paralaxe p span:nth-child(6) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 6));
}
header.home .header_paralaxe p span:nth-child(7) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 7));
}
header.home .header_paralaxe p span:nth-child(8) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 8));
}
header.home .header_paralaxe p span:nth-child(9) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 9));
}
header.home .header_paralaxe p span:nth-child(10) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 10));
}
header.home .header_paralaxe p span:nth-child(11) {
  transition: 0.5s ease-in-out calc(0.5s + (0.1s * 11));
}
header.home .header_paralaxe p span.active {
  top: 0;
  opacity: 1;
}
header.home .logo {
  z-index: 1;
  width: 200px;
  height: 80px;
  position: absolute;
  top: 9.2vh;
  left: 100px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  header.home .logo {
    top: inherit;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
  }
}
header.home .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
header.home .scroller {
  width: 2px;
  height: 0px;
  background: white;
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -100%);
  animation-name: scroller;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  opacity: 1;
}
@keyframes scroller {
  0% {
    top: 90vh;
    height: 0px;
    opacity: 0;
  }
  50% {
    top: 95vh;
    height: 30px;
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
    height: 0px;
  }
}

header.header-small img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: 0px 80%;
}
@media screen and (max-width: 900px) {
  header.header-small img {
    object-position: center bottom;
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  header.header-small img {
    height: 300px;
  }
}

nav {
  position: fixed;
  right: 5.2vw;
  top: 9.2vh;
  z-index: 2;
}
nav .burger {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  nav .burger {
    width: 40px;
    height: 40px;
  }
}
nav .burger_ligne {
  width: 40px;
  height: 4px;
  background: #3C3950;
  margin: 5px 0;
  transition: margin 0.3s ease, opacity 0.1s ease, transform 0.3s ease;
}
@media screen and (max-width: 900px) {
  nav .burger_ligne {
    width: 20px;
    height: 2px;
    margin: 3px 0;
  }
}
nav .burger_ligne:nth-child(1).active, nav .burger_ligne:nth-child(3).active {
  opacity: 0;
}
nav .burger_ligne.active {
  margin: 0;
  transform: rotate(45deg);
}
nav .nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  opacity: 0;
  z-index: -1;
  background: white;
  transition: 0.3s ease;
}
@media screen and (max-width: 900px) {
  nav .nav {
    display: none;
  }
}
nav .nav.active {
  z-index: 1;
  right: 100px;
  opacity: 1;
}
nav .nav li {
  list-style-type: none;
}
nav .nav li a {
  margin: 0 5px;
  display: block;
  text-decoration: none;
  color: #3C3950;
  text-align: center;
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  white-space: nowrap;
  background: white;
  transition: 0.3s ease;
  padding: 5px 10px;
  position: relative;
}
@media screen and (max-width: 600px) {
  nav .nav li a {
    font-size: 20px;
  }
}
nav .nav li a:hover {
  background: white;
  color: #00BBD3;
}
nav .nav li a:hover::before {
  width: 100%;
  left: 0;
}
nav .nav li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0;
  height: 2px;
  background: #3C3950;
  transition: 0.3s ease;
}
nav .rs {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
}
nav .rs.active {
  top: 100px;
  opacity: 1;
  z-index: 1;
}
nav .rs li {
  list-style-type: none;
  position: relative;
}
nav .rs li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  z-index: 0;
}
nav .rs li a {
  z-index: 1;
  position: relative;
  margin: 20px 0;
  display: block;
  transition: 0.3s ease;
}
nav .rs li a:hover i {
  color: #00BBD3;
}
nav .rs li a i {
  color: #3C3950;
  position: relative;
  top: 2px;
}
nav .rs li:nth-child(1) i {
  position: relative;
  left: 2px;
}

footer {
  width: 100%;
  background-color: #3C3950;
  padding: 100px 0;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 50px 0;
  }
}
footer .footer {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-template-areas: "a b c";
}
@media screen and (max-width: 900px) {
  footer .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    grid-template-areas: "a" "b" "c";
    text-align: center;
  }
}
footer .footer p, footer .footer a {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: white;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  footer .footer p, footer .footer a {
    font-size: 14px;
  }
}
footer .footer .footer_contact {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer .footer_contact .logo {
  margin-bottom: 20px;
}
footer .footer .footer_contact p:nth-child(1) {
  color: #00BBD3;
  text-transform: uppercase;
}
footer .footer .footer_nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer .footer_nav a {
  transition: 0.3s ease;
  display: block;
}
footer .footer .footer_nav a:hover {
  color: #00BBD3;
}
footer .footer .footer_social {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: c;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer .footer_social p:nth-child(1) {
  color: #00BBD3;
}
footer .footer .footer_social_rs {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
footer .footer .footer_social_rs a {
  position: relative;
  width: 30px;
  text-align: center;
}
footer .footer .footer_social_rs a:nth-child(1) i {
  left: -1px;
}
footer .footer .footer_social_rs a:nth-child(2) {
  margin: 0 20px;
}
footer .footer .footer_social_rs a i {
  color: #3C3950;
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
  top: 2px;
}
footer .footer .footer_social_rs a:hover i {
  color: #00BBD3;
}
footer .footer .footer_social_rs a:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.copyright {
  margin-top: -1px;
  text-align: center;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  font-size: 12px !important;
  color: white;
  background: #3C3950;
  padding: 20px 0;
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .copyright {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .copyright {
    padding: 20px 15% 20px 40px;
  }
}
.copyright span a {
  text-decoration: none;
  color: #00BBD3;
}

.backtotop {
  position: fixed;
  right: calc(5.2vw + 20px);
  bottom: 0px;
  background: white;
  border-radius: 50%;
  border: 1px solid #00BBD3;
  width: 40px;
  height: 40px;
  z-index: 2;
  opacity: 0;
  transition: 0.3s ease;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .backtotop {
    right: 5.2vw;
  }
}
.backtotop.visible {
  bottom: 40px;
  opacity: 1;
}
.backtotop i {
  color: #3C3950;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#apropos {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  opacity: 0;
  transition: 1s ease;
  top: 100px;
}
@media screen and (max-width: 1200px) {
  #apropos {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  #apropos {
    width: 100%;
    padding: 0 calc(40px + 5.2vw) 0 40px;
  }
}
#apropos.active {
  opacity: 1;
  top: 0;
}
#apropos .surtitre {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 40px;
  color: #3C3950;
}
@media screen and (max-width: 600px) {
  #apropos .surtitre {
    font-size: 30px;
  }
}
#apropos h1 {
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #00BBD3;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  #apropos h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  #apropos h1 {
    font-size: 30px;
  }
}
#apropos .text {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin: 50px 0;
  line-height: 30px;
  width: 50%;
}
@media screen and (max-width: 600px) {
  #apropos .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  #apropos .text {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  #apropos .text {
    width: 100%;
    margin: 30px 0;
  }
}
#apropos a.button {
  margin-right: 20px;
}
@media screen and (max-width: 400px) {
  #apropos a.button {
    margin-right: 15px;
  }
  #apropos a.button:last-child {
    margin-right: 0;
  }
}

#etablissements .etablissements {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 600px;
  grid-gap: 0px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  #etablissements .etablissements {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  #etablissements .etablissements {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #etablissements .etablissements {
    grid-auto-rows: 450px;
  }
}
#etablissements .etablissements .etablissement {
  padding: 60px 40px;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  #etablissements .etablissements .etablissement:nth-child(7), #etablissements .etablissements .etablissement:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #etablissements .etablissements .etablissement:nth-child(5), #etablissements .etablissements .etablissement:nth-child(6), #etablissements .etablissements .etablissement:nth-child(7), #etablissements .etablissements .etablissement:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  #etablissements .etablissements .etablissement {
    padding: 40px 20px;
  }
}
#etablissements .etablissements .etablissement:hover:after {
  background: rgba(0, 0, 0, 0.5);
}
#etablissements .etablissements .etablissement:hover img {
  width: 110%;
  height: 110%;
}
#etablissements .etablissements .etablissement:hover .located i {
  color: #00BBD3;
}
#etablissements .etablissements .etablissement:hover .ensavoirplus {
  bottom: 100px;
  opacity: 1;
}
#etablissements .etablissements .etablissement:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  transition: 0.3s ease;
}
#etablissements .etablissements .etablissement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
#etablissements .etablissements .etablissement img:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 1px;
  height: 200px;
  background: white;
}
#etablissements .etablissements .etablissement h2 {
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  #etablissements .etablissements .etablissement h2 {
    font-size: 20px;
  }
}
#etablissements .etablissements .etablissement .located {
  position: relative;
  left: 25px;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  #etablissements .etablissements .etablissement .located {
    left: 0;
    margin-top: 20px;
  }
}
#etablissements .etablissements .etablissement .located i {
  color: white;
  transition: 0.3s ease;
}
#etablissements .etablissements .etablissement .located span {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
@media screen and (max-width: 600px) {
  #etablissements .etablissements .etablissement .located span {
    font-size: 14px;
  }
}
#etablissements .etablissements .etablissement .specialization {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 40px;
  transform-origin: top left;
  color: white;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  #etablissements .etablissements .etablissement .specialization {
    font-size: 14px;
  }
}
#etablissements .etablissements .etablissement .ensavoirplus {
  transform: rotate(-90deg);
  transform-origin: top left;
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  transition: 0.3s ease;
  opacity: 0;
}
@media screen and (max-width: 600px) {
  #etablissements .etablissements .etablissement .ensavoirplus {
    font-size: 14px;
  }
}
#etablissements .etablissements .etablissement .ensavoirplus::after {
  content: "";
  width: 400px;
  height: 1px;
  background: #00BBD3;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
}
#etablissements .memberlist {
  text-align: center;
}

#actu .actu {
  position: relative;
  top: 100px;
  transition: 1s ease;
  opacity: 0;
}
#actu .actu.active {
  opacity: 1;
  top: 0;
}

.actu h2 {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 30px;
  position: relative;
  width: calc(100% - 15% - 7%);
  margin-left: 7%;
}
@media screen and (max-width: 600px) {
  .actu h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .actu h2 {
    width: calc(100% - 15% - 40px);
    margin-left: 40px;
  }
}
.actu_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 50px 15% 50px 7%;
}
@media screen and (max-width: 1200px) {
  .actu_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .actu_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 50px calc(5.2vw + 50px) 50px 40px;
  }
}
@media screen and (max-width: 600px) {
  .actu_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.actu_container .actu_article {
  text-decoration: none;
  width: 100%;
  height: 400px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .actu_container .actu_article:nth-child(3) {
    display: none;
  }
  #actu-list .actu_container .actu_article {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .actu_container .actu_article {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .actu_container .actu_article {
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .actu_container .actu_article {
    height: 400px;
  }
}
.actu_container .actu_article:hover .article_img_container img {
  width: 105%;
  height: 105%;
}
.actu_container .actu_article .article_img_container {
  width: 85%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.actu_container .actu_article .article_img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.actu_container .actu_article .actu_date {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  bottom: 60%;
  left: calc(85% + 5px);
}
@media screen and (max-width: 600px) {
  .actu_container .actu_article .actu_date {
    font-size: 14px;
  }
}
.actu_container .actu_article .actu_date span {
  display: block;
}
.actu_container .actu_article .actu_content {
  background: white;
  padding: 10px 0 10px 20px;
  position: absolute;
  right: 0;
  top: 40%;
  max-width: 80%;
  min-height: 61%;
}
.actu_container .actu_article .actu_content h3 {
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .actu_container .actu_article .actu_content h3 {
    font-size: 20px;
  }
}
.actu_container .actu_article .actu_content h3:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #00BBD3;
  position: absolute;
  left: 0px;
  bottom: -5px;
}
.actu_container .actu_article .actu_content .actu_excerpt {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin: 10px 0;
}
@media screen and (max-width: 600px) {
  .actu_container .actu_article .actu_content .actu_excerpt {
    font-size: 14px;
  }
}
.actu_container .actu_article .actu_content .actu_ensavoirplus {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  color: #00BBD3;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 600px) {
  .actu_container .actu_article .actu_content .actu_ensavoirplus {
    font-size: 14px;
  }
}
.actu .memberlist {
  text-align: center;
}

#inscription, #contact_inscription {
  position: relative;
  opacity: 0;
  transition: 1s ease;
  top: 100px;
  width: calc(100% - 15% - 7%);
  margin-left: 7%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
  grid-template-areas: "a b";
}
@media screen and (max-width: 900px) {
  #inscription, #contact_inscription {
    width: calc(100% - 15% - 50px);
    margin-left: 40px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    grid-template-areas: "a" "b";
  }
  #inscription > .footer_contact, #contact_inscription > .footer_contact {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #inscription > .footer_nav, #contact_inscription > .footer_nav {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
#inscription.active, #contact_inscription.active {
  opacity: 1;
  top: 0;
}
#inscription .inscription_infos, #contact_inscription .inscription_infos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}
#inscription .inscription_infos h2, #contact_inscription .inscription_infos h2 {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  #inscription .inscription_infos h2, #contact_inscription .inscription_infos h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #inscription .inscription_infos h2, #contact_inscription .inscription_infos h2 {
    margin-bottom: 25px;
  }
}
#inscription .inscription_infos p, #contact_inscription .inscription_infos p {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  #inscription .inscription_infos p, #contact_inscription .inscription_infos p {
    font-size: 14px;
  }
}
#inscription .inscription_infos p:last-child, #contact_inscription .inscription_infos p:last-child {
  margin-bottom: 0;
}
#inscription .inscription_form, #contact_inscription .inscription_form {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
  margin-top: 80px;
}
@media screen and (max-width: 900px) {
  #inscription .inscription_form, #contact_inscription .inscription_form {
    margin-top: 0;
  }
}
#inscription .inscription_form form, #contact_inscription .inscription_form form {
  min-height: 400px;
}
@media screen and (max-width: 900px) {
  #inscription .inscription_form form, #contact_inscription .inscription_form form {
    min-height: inherit;
  }
}
#inscription .inscription_form form .form_group, #contact_inscription .inscription_form form .form_group {
  position: relative;
  display: inline-block;
  width: calc(50% - 12px);
  margin-bottom: 100px;
}
@media screen and (max-width: 600px) {
  #inscription .inscription_form form .form_group, #contact_inscription .inscription_form form .form_group {
    margin-bottom: 50px;
  }
}
#inscription .inscription_form form .form_group:nth-child(1), #contact_inscription .inscription_form form .form_group:nth-child(1) {
  margin-right: 20px;
}
#inscription .inscription_form form .form_group label, #contact_inscription .inscription_form form .form_group label {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  transition: 0.3s ease;
}
@media screen and (max-width: 600px) {
  #inscription .inscription_form form .form_group label, #contact_inscription .inscription_form form .form_group label {
    font-size: 14px;
  }
}
#inscription .inscription_form form .form_group label.selected, #contact_inscription .inscription_form form .form_group label.selected {
  top: -15px;
  left: -5px;
  font-size: 12px;
  color: #00BBD3;
}
#inscription .inscription_form form .form_group input[type=text], #inscription .inscription_form form .form_group input[type=mail], #contact_inscription .inscription_form form .form_group input[type=text], #contact_inscription .inscription_form form .form_group input[type=mail] {
  position: relative;
  border: none;
  border-bottom: 2px solid #3C3950;
  width: 100%;
  padding: 5px;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  #inscription .inscription_form form .form_group input[type=text], #inscription .inscription_form form .form_group input[type=mail], #contact_inscription .inscription_form form .form_group input[type=text], #contact_inscription .inscription_form form .form_group input[type=mail] {
    font-size: 14px;
  }
}
#inscription .inscription_form form .form_group input[type=text]:focus, #inscription .inscription_form form .form_group input[type=mail]:focus, #contact_inscription .inscription_form form .form_group input[type=text]:focus, #contact_inscription .inscription_form form .form_group input[type=mail]:focus {
  outline: none;
}
#inscription .inscription_form form .form_area, #contact_inscription .inscription_form form .form_area {
  position: relative;
}
#inscription .inscription_form form .form_area label, #contact_inscription .inscription_form form .form_area label {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  transition: 0.3s ease;
}
@media screen and (max-width: 600px) {
  #inscription .inscription_form form .form_area label, #contact_inscription .inscription_form form .form_area label {
    font-size: 14px;
  }
}
#inscription .inscription_form form .form_area label.selected, #contact_inscription .inscription_form form .form_area label.selected {
  top: -15px;
  left: -5px;
  font-size: 12px;
  color: #00BBD3;
}
#inscription .inscription_form form .form_area textarea, #contact_inscription .inscription_form form .form_area textarea {
  border: none;
  border-bottom: 2px solid #3C3950;
  display: block;
  width: 100%;
  height: 45px;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  resize: none;
  padding: 10px;
  margin-bottom: 50px;
  transition: 0.3s ease;
}
@media screen and (max-width: 600px) {
  #inscription .inscription_form form .form_area textarea, #contact_inscription .inscription_form form .form_area textarea {
    font-size: 14px;
  }
}
#inscription .inscription_form form .form_area textarea.active, #contact_inscription .inscription_form form .form_area textarea.active {
  height: 150px;
}
#inscription .inscription_form form .form_area textarea:focus, #contact_inscription .inscription_form form .form_area textarea:focus {
  outline: none;
}
#inscription .inscription_form form input[type=submit], #contact_inscription .inscription_form form input[type=submit] {
  border: none;
  background: #3C3950;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}
#inscription .inscription_form form input[type=submit]:hover, #contact_inscription .inscription_form form input[type=submit]:hover {
  background: #00BBD3;
}

.home_contact {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 0px;
  grid-template-areas: "a b" "a c";
}
@media screen and (max-width: 1200px) {
  .home_contact {
    grid-template-columns: 30% 1fr;
  }
}
@media screen and (max-width: 900px) {
  .home_contact {
    grid-template-columns: 1fr;
    grid-template-areas: "b" "c";
  }
  .home_contact > .footer_nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .home_contact > .footer_social {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .home_contact > .inscription_form, .home_contact > .inscription_form {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.home_contact_img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-image: url("../images/contact.jpg");
  grid-area: a;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
#inscription > .home_contact_img, #contact_inscription > .home_contact_img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.home_contact > .home_contact_img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}
@media screen and (max-width: 900px) {
  .home_contact_img {
    display: none;
  }
}
.home_contact .home_contact_infos {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .home_contact .home_contact_infos {
    width: 100%;
    margin: auto auto auto 40px;
  }
}
@media screen and (max-width: 600px) {
  .home_contact .home_contact_infos {
    margin: auto auto auto 40px;
  }
}
.home_contact .home_contact_infos h2 {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  .home_contact .home_contact_infos h2 {
    font-size: 20px;
  }
}
.home_contact .home_contact_infos_container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  .home_contact .home_contact_infos_container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.home_contact .home_contact_infos_container p {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
}
@media screen and (max-width: 600px) {
  .home_contact .home_contact_infos_container p {
    font-size: 14px;
  }
}
.home_contact .home_contact_infos_container i {
  margin-right: 10px;
  width: 15px;
  line-height: 33px;
  color: #00BBD3;
}
.home_contact .home_contact_infos_content {
  display: flex;
  flex-direction: column;
}
.home_contact .home_contact_infos_adress {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
.home_contact .home_contact_infos_tel {
  display: flex;
  flex-direction: row;
}
.home_contact .home_contact_infos_mail {
  display: flex;
  flex-direction: row;
}
.home_contact_map {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: c;
  width: 100%;
  height: 100%;
}
.home_contact > .home_contact_map {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
@media screen and (max-width: 900px){
  footer .footer .footer_contact {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  footer .footer .footer_nav {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  footer .footer .footer_social {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #inscription .inscription_infos, #contact_inscription .inscription_infos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #inscription > .inscription_infos, #contact_inscription > .inscription_infos, #inscription > .inscription_infos, #contact_inscription > .inscription_infos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #inscription .inscription_form, #contact_inscription .inscription_form {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #inscription > .inscription_form, #contact_inscription > .inscription_form, #inscription > .inscription_form, #contact_inscription > .inscription_form {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .home_contact_img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #inscription > .home_contact_img, #contact_inscription > .home_contact_img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .home_contact .home_contact_infos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #inscription > .home_contact_infos, #contact_inscription > .home_contact_infos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .home_contact > .home_contact_infos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .home_contact_map {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .home_contact > .home_contact_map {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
.home_contact_map iframe {
  width: 100%;
  height: 100%;
}

.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #3c3950;
  transition: 0.3s ease;
  opacity: 0;
}
.modal.active {
  opacity: 1;
  left: 0;
}
.modal-nav .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}
.modal-nav .nav li a {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .modal-nav .nav li a {
    font-size: 14px;
  }
}
.modal-nav .rs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal-filtre {
  z-index: 10;
}
.modal-filtre .croix {
  z-index: 15;
  position: absolute;
  top: 9.2vh;
  right: 5.2vw;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
}
.modal-filtre .croix .croix-barre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background: #3C3950;
}
.modal-filtre .croix .croix-barre:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal-filtre .croix .croix-barre:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal-filtre .filter {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}
.modal-filtre .filter li {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  color: white;
  text-decoration: none;
  border: none;
}
@media screen and (max-width: 600px) {
  .modal-filtre .filter li {
    font-size: 14px;
  }
}
.modal-filtre .filter li.active {
  color: #00BBD3;
  border: none;
}

.section_list {
  margin-left: 15%;
}
@media screen and (max-width: 1200px) {
  .section_list {
    margin-left: 40px;
  }
}

.annuaire_entete {
  margin-left: 7%;
}
@media screen and (max-width: 1200px) {
  .annuaire_entete {
    margin: 0 calc(5.2vw + 50px) 0 7%;
  }
}
@media screen and (max-width: 900px) {
  .annuaire_entete {
    margin: 0 calc(5.2vw + 50px) 0 40px;
  }
}
.annuaire_entete .annuaire_subtitle {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 40px;
  color: #3C3950;
}
@media screen and (max-width: 600px) {
  .annuaire_entete .annuaire_subtitle {
    font-size: 30px;
  }
}
.annuaire_entete h1 {
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #00BBD3;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .annuaire_entete h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .annuaire_entete h1 {
    font-size: 30px;
  }
}

.annuaire {
  margin: 100px 17% 200px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px 6%;
}
@media screen and (max-width: 600px) {
  .annuaire {
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 17% 100px 0;
  }
}
@media screen and (max-width: 400px) {
  .annuaire {
    margin: 50px 17% 150px 0;
  }
}
.annuaire_etablissement {
  grid-row: span 1;
  grid-column: span 1;
  position: relative;
  display: none;
}
.annuaire_etablissement.visible {
  display: block;
}
.annuaire_etablissement img {
  width: 90%;
  height: 380px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .annuaire_etablissement img {
    height: 280px;
  }
}
@media screen and (max-width: 400px) {
  .annuaire_etablissement img {
    width: 80%;
  }
}
.annuaire_etablissement h2 {
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #00BBD3;
  text-transform: uppercase;
  color: #3C3950;
  text-transform: none;
  background: white;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 80%;
  max-width: 80%;
  min-height: 75px;
  max-height: 130px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .annuaire_etablissement h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .annuaire_etablissement h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .annuaire_etablissement h2 {
    max-width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .annuaire_etablissement h2 {
    max-height: 155px;
  }
}
@media screen and (max-width: 400px) {
  .annuaire_etablissement h2 {
    max-width: 70%;
    right: 10%;
  }
}
.annuaire_etablissement h2::after {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 1px;
  background: #00BBD3;
  left: 20px;
  bottom: 0px;
}
.annuaire_etablissement ul {
  list-style-type: none;
  position: absolute;
  bottom: 20%;
  left: calc(90% + 5px);
}
@media screen and (max-width: 400px) {
  .annuaire_etablissement ul {
    left: calc(80% + 5px);
  }
}
.annuaire_etablissement ul li {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  color: #00BBD3;
}
@media screen and (max-width: 600px) {
  .annuaire_etablissement ul li {
    font-size: 14px;
  }
}

.filter {
  margin: 50px 14% 0 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  position: relative;
}
@media screen and (max-width: 900px) {
  .filter {
    display: none;
  }
}
.filter-small {
  margin: 50px 0;
  display: none;
}
@media screen and (max-width: 900px) {
  .filter-small {
    display: block;
  }
}
.filter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #00BBD3;
  bottom: 0px;
  z-index: 1;
}
.filter li {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid white;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 600px) {
  .filter li {
    font-size: 14px;
  }
}
.filter li.active {
  border: 1px solid #00BBD3;
  border-bottom: 1px solid white;
  color: #00BBD3;
  z-index: 2;
}
.filter li:hover {
  color: #00BBD3;
}

.single_barre {
  z-index: 1;
  position: fixed;
}
@media screen and (max-width: 900px) {
  .single_barre {
    display: none;
  }
}
.single_barre .barre {
  width: 1px;
  background: white;
  position: fixed;
  right: calc(5.2vw + 40px);
}
.single_barre .barre_1 {
  top: 0;
  height: calc(9.2vh - 10px);
}
.single_barre .barre_2 {
  top: calc(9.2vh + 90px);
  height: calc(100vh - (9.2vh + 90px));
}

.single {
  position: relative;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  .single {
    display: block;
  }
}
.single_galery {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 13vw;
  height: 100vh;
  justify-content: center;
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .single_galery {
    z-index: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
  }
}
.single_galery.blocked {
  position: absolute;
  bottom: 0;
}
.single_galery::after {
  content: "";
  width: 1px;
  height: 100vh;
  background: #00BBD3;
  position: absolute;
  left: 35%;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .single_galery::after {
    display: none;
  }
}
.single_galery .img_galerie {
  width: 100%;
  height: 20vh;
  margin: 5px 0;
  position: relative;
}
@media screen and (max-width: 900px) {
  .single_galery .img_galerie {
    height: 100%;
    margin: 0;
  }
}
.single_galery .img_galerie:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 70%;
  height: 1px;
  background: #00BBD3;
  transition: 0.3s ease;
}
@media screen and (max-width: 900px) {
  .single_galery .img_galerie:before {
    display: none;
  }
}
.single_galery .img_galerie:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: calc(70% - 10px);
  transform: translate(0, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00BBD3;
  transition: 0.3s ease;
}
@media screen and (max-width: 900px) {
  .single_galery .img_galerie:after {
    display: none;
  }
}
.single_galery .img_galerie.visible:before {
  left: 20%;
}
.single_galery .img_galerie.visible:after {
  left: 90%;
}
.single_galery .img_galerie img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .single_galery .img_galerie img {
    width: 100%;
  }
}
.single_container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: calc(13vw + 40px);
  width: calc(100vw - (13vw + 80px + 50vw));
  top: 3vh;
}
@media screen and (max-width: 900px) {
  .single_container {
    left: 0;
    margin-left: 40px;
    width: calc( 100% - 15% - 40px );
  }
}
.single_img {
  position: fixed;
  width: 50vw;
  height: 100vh;
  right: 0;
  transition: 0.3s ease;
}
@media screen and (max-width: 900px) {
  .single_img {
    display: none;
  }
}
.single_img.active {
  width: 40vw;
}
.single_img.blocked {
  position: absolute;
  bottom: 0;
}
.single_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single_top {
  height: 100vh;
}
@media screen and (max-width: 900px) {
  .single_top {
    height: auto;
  }
}
.single_top .filariane {
  margin-bottom: 15vh;
}
@media screen and (max-width: 900px) {
  .single_top .filariane {
    margin-bottom: 25px;
  }
}
.single_top .single_surtitre {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 40px;
  color: #3C3950;
}
@media screen and (max-width: 600px) {
  .single_top .single_surtitre {
    font-size: 30px;
  }
}
.single_top h1 {
  color: #3C3950;
  font-family: agency-fb, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #00BBD3;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .single_top h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .single_top h1 {
    font-size: 30px;
  }
}
.single_top .single_located {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0 0 20px;
}
@media screen and (max-width: 600px) {
  .single_top .single_located {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .single_top .single_located {
    margin: 20px 0 0 0;
  }
}
.single_top .single_located i {
  color: #00BBD3;
}
.single_top .single_located .single_slash {
  margin: 0 20px;
}
@media screen and (max-width: 600px) {
  .single_top .single_located .single_slash {
    display: block;
    opacity: 0;
    font-size: 5px;
  }
}
.single_top .single_located .single_tags a {
  text-decoration: none;
  color: #3C3950;
  transition: 0.3s ease;
}
.single_top .single_located .single_tags a:hover {
  color: #00BBD3;
}
.single_top .single_exerpt {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin: 30px 0;
}
@media screen and (max-width: 600px) {
  .single_top .single_exerpt {
    font-size: 14px;
  }
}
.single_top .single_ensavoirplus {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #00BBD3;
}
@media screen and (max-width: 600px) {
  .single_top .single_ensavoirplus {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .single_top .single_ensavoirplus {
    display: none;
  }
}

.single_bot {
  width: 100%;
  min-height: 100vh;
}
@media screen and (max-width: 900px) {
  .single_bot {
    min-height: auto;
    margin-bottom: 100px;
  }
}
.single_bot p {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .single_bot p {
    font-size: 14px;
  }
}

.nouscontacter {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 7%;
  position: relative;
  top: 100px;
  transition: 1s ease;
  opacity: 0;
}
@media screen and (max-width: 600px) {
  .nouscontacter {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .nouscontacter {
    margin-left: 40px;
  }
}
@media screen and (max-width: 600px) {
  .nouscontacter {
    margin-top: 50px;
  }
}
.nouscontacter.active {
  top: 0;
  opacity: 1;
}

#contact_form {
  position: relative;
  top: 100px;
  transition: 1s ease;
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: calc(100% - 15% - 7%);
  margin-left: 7%;
  margin-right: auto;
}
@media screen and (max-width: 900px) {
  #contact_form {
    width: calc(100% - 15% - 40px);
    margin-left: 40px;
  }
}
#contact_form.active {
  top: 0;
  opacity: 1;
}
#contact_form .inscription_form {
  margin-top: 80px;
}
@media screen and (max-width: 600px) {
  #contact_form .inscription_form {
    margin-top: 40px;
  }
}
#contact_form .inscription_form form .form_group {
  position: relative;
  display: inline-block;
  width: calc(50% - 12px);
  margin-bottom: 100px;
}
@media screen and (max-width: 600px) {
  #contact_form .inscription_form form .form_group {
    margin-bottom: 50px;
  }
}
#contact_form .inscription_form form .form_group:nth-child(1), #contact_form .inscription_form form .form_group:nth-child(3) {
  margin-right: 20px;
}
#contact_form .inscription_form form .form_group label {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  transition: 0.3s ease;
}
@media screen and (max-width: 600px) {
  #contact_form .inscription_form form .form_group label {
    font-size: 14px;
  }
}
#contact_form .inscription_form form .form_group label.selected {
  top: -15px;
  left: -5px;
  font-size: 12px;
  color: #00BBD3;
}
#contact_form .inscription_form form .form_group input[type=text], #contact_form .inscription_form form .form_group input[type=mail] {
  position: relative;
  border: none;
  border-bottom: 2px solid #3C3950;
  width: 100%;
  padding: 5px;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  #contact_form .inscription_form form .form_group input[type=text], #contact_form .inscription_form form .form_group input[type=mail] {
    font-size: 14px;
  }
}
#contact_form .inscription_form form .form_group input[type=text]:focus, #contact_form .inscription_form form .form_group input[type=mail]:focus {
  outline: none;
}
#contact_form .inscription_form form .form_area {
  position: relative;
}
#contact_form .inscription_form form .form_area label {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  transition: 0.3s ease;
}
@media screen and (max-width: 600px) {
  #contact_form .inscription_form form .form_area label {
    font-size: 14px;
  }
}
#contact_form .inscription_form form .form_area label.selected {
  top: -15px;
  left: -5px;
  font-size: 12px;
  color: #00BBD3;
}
#contact_form .inscription_form form .form_area textarea {
  border: none;
  border-bottom: 2px solid #3C3950;
  display: block;
  width: 100%;
  height: 45px;
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  resize: none;
  padding: 10px;
  margin-bottom: 50px;
  transition: 0.3s ease;
}
@media screen and (max-width: 600px) {
  #contact_form .inscription_form form .form_area textarea {
    font-size: 14px;
  }
}
#contact_form .inscription_form form .form_area textarea.active {
  height: 150px;
}
#contact_form .inscription_form form .form_area textarea:focus {
  outline: none;
}
#contact_form .inscription_form form input[type=submit] {
  border: none;
  background: #3C3950;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}
#contact_form .inscription_form form input[type=submit]:hover {
  background: #00BBD3;
}

.page_apropos {
  width: calc(100% - 15% - 7%);
  margin-left: 7%;
}
@media screen and (max-width: 900px) {
  .page_apropos {
    width: calc(100% - 15% - 40px);
    margin-left: 40px;
  }
}
.page_apropos .contact_section {
  margin: 100px 0;
}
@media screen and (max-width: 600px) {
  .page_apropos .contact_section {
    margin: 50px 0;
  }
}
.page_apropos .contact_section h2 {
  color: #3C3950;
  font-family: boucherie-sans, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 30px;
  color: #00BBD3;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .page_apropos .contact_section h2 {
    font-size: 20px;
  }
}
.page_apropos .contact_section p {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .page_apropos .contact_section p {
    font-size: 14px;
  }
}
.page_apropos .contact_section .apropos_excerpt {
  font-weight: 700;
  margin-bottom: 20px;
}
.page_apropos .apropos_scroll_1, .page_apropos .apropos_scroll_2, .page_apropos .apropos_scroll_3, .page_apropos .apropos_scroll_4 {
  top: 100px;
  position: relative;
  opacity: 0;
  transition: 1s ease;
}
.page_apropos .apropos_scroll_1.active, .page_apropos .apropos_scroll_2.active, .page_apropos .apropos_scroll_3.active, .page_apropos .apropos_scroll_4.active {
  top: 0;
  opacity: 1;
}
.page_apropos .devenirmembre {
  text-align: center;
  margin-top: 40px;
}

.page_actu {
  margin-top: 100px;
}
@media screen and (max-width: 600px) {
  .page_actu {
    margin-top: 50px;
  }
}

.article {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
}
.article img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.article_content {
  margin: 100px 15%;
}
.article_content p {
  color: #3C3950;
  font-family: lucida, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .article_content p {
    font-size: 14px;
  }
}
.article_content .article_excerpt {
  font-weight: 700;
  margin-bottom: 20px;
}