@mixin break($point)
{
    @if $point == laptop { @media screen and (max-width: 1200px) { @content; } }
    @elseif $point == tablet { @media screen and (max-width: 900px) { @content; } }
    @elseif $point == mobile { @media screen and (max-width: 600px) { @content; } }
    @elseif $point == mobile-small { @media screen and (max-width: 400px) { @content; } }
    @else { @media screen and (max-width: $point) { @content; } }
}

/* --- Fonts --- */

@font-face {
    font-family:"lucida";
    src:url('../fonts/lucida.woff');
}

@mixin font($type, $taille)
{
    color: $c-2;

    @if $type == lucida {
        font-family: lucida, sans-serif;
        font-style: normal;

        @if $taille == petit {
            font-weight: 400;
            font-size: 15px;
            @include break(mobile)
            {
                font-size: 14px;
            }
        }
        @if $taille == moyen {
            font-weight: 700;
            font-size: 25px;
            @include break(mobile)
            {
                font-size: 20px;
            }
        }
    }
    @if $type == boucherie {
        font-family: boucherie-sans, sans-serif;
        font-style: normal;
        letter-spacing: 2px;

        @if $taille == petit {
            font-weight: 400;
            font-size: 18px;
            @include break(mobile)
            {
                font-size: 14px;
            }
        }
        @if $taille == moyen {
            font-weight: 400;
            font-size: 30px;
            @include break(mobile)
            {
                font-size: 20px;
            }
        }
        @if $taille == grand {
            font-weight: 400;
            font-size: 40px;
            color: $c-2;
            @include break(mobile)
            {
                font-size: 30px;
            }
        }
    }
    @if $type == agency {
        font-family: agency-fb, sans-serif;
        font-style: normal;

        @if $taille == petit {
            font-weight: 400;
            font-size: 18px;
            @include break(mobile)
            {
                font-size: 14px;
            }
        }
        @if $taille == moyen {
            font-weight: 400;
            font-size: 30px;
            @include break(mobile)
            {
                font-size: 20px;
            }
        }
        @if $taille == grand {
            font-weight: 400;
            font-size: 50px;
            color: $c-1;
            text-transform: uppercase;
            @include break(laptop)
            {
                font-size: 40px;
            }
            @include break(mobile)
            {
                font-size: 30px;
            }
        }
    }
    @if $type == agency-ext {
        font-family: agency-fb-extended, sans-serif;
        font-style: normal;

        @if $taille == grand {
            font-weight: 700;
            font-size: 80px;

        }
    }

}
