/* --- Init ---  */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body, html
    {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
}

/* --- Couleurs ---  */
$c-1: #00BBD3; // bleu
$c-2: #3C3950; // violet

$c-w: white;
$c-b: black;

/* --- Marges ---  */
$m-sm: 25px;
$m-m: 50px;
$m-l: 100px;

.marge_bot
{
    margin-bottom: 200px;
}

/* --- Contenu ---  */
.section
{
    margin: 200px 0;
    @include break(tablet)
    {
        margin: 100px 0;
    }
    @include break(mobile)
    {
        margin: 50px 0;
    }
}

/* --- Button ---  */
.button
{
    @include font(boucherie, petit);
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease;
    border-radius: 5px;

    &:before
    {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        border-radius: 5px 5px 0 0;
        border-top: 2px solid $c-1;
        border-left: 2px solid $c-1;
        border-right: 2px solid $c-1;
        box-sizing: border-box;
        transition: 0.3s ease;
    }

    &:after
    {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        border-radius: 0 0 5px 5px;
        border-bottom: 2px solid $c-1;
        border-left: 2px solid $c-1;
        border-right: 2px solid $c-1;
        box-sizing: border-box;
        transition: 0.3s ease;
    }

    &:hover
    {
        &:after, &:before
        {
            height: 20px;
        }

    }
}


.button_purple
{
    color: $c-2;
    background: rgba($c-w, 0);

    &:after
    {
        border-color: $c-2;
    }
    &:before
    {
        border-color: $c-2;
    }

    &:hover
    {
        color: $c-w;
        background: rgba($c-2, 1);
    }
}

.button_blue
{
    background: rgba($c-w, 0);
    color: $c-1;

    &:hover
    {
        color: $c-w;
        background: rgba($c-1, 1);

    }
}

.filariane
{
    @include font(lucida, petit);
    margin: $m-m 0;
    @include break(mobile)
    {
        margin: 25px 0;
    }

    a
    {
        text-decoration: none;
        color: $c-2;
        transition: 0.3s ease;

        &:hover
        {
            color: $c-1;
        }
    }

    .slash
    {
        color: $c-1;
    }
}


// Page Error error404
.error404
{
    width: 100vw;
    height: 100vh;


    img
    {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}


/* --- Modal formulaire envoyé ---  */
.modal_envoyer
{
    opacity: 0;
    position: fixed;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    background: $c-w;
    transition: 0.3s ease;
    z-index: 100;
    // pointer-events: none;

    &.active
    {
        opacity: 1;
        // pointer-events: all;
        top: 0;
    }

    .modal_text
    {
        p
        {
            @include font(boucherie, petit);
            color: $c-w;
            background: $c-1;
            padding: 10px;
            // border: 2px solid $c-1;
            text-align: center;
        }
    }
}
