.page_apropos
{
    width: calc(100% - 15% - 7%);
    margin-left: 7%;
    @include break(tablet)
    {
        width: calc(100% - 15% - 40px);
        margin-left: 40px;
    }


    .contact_section
    {
        margin: $m-l 0;
        @include break(mobile)
        {
            margin: $m-m 0;
        }

        h2
        {
            @include font(boucherie, moyen);
            color: $c-1;
            margin-bottom: $m-m;
        }

        p
        {
            @include font(lucida, petit);
        }

        .apropos_excerpt
        {
            font-weight: 700;
            margin-bottom: 20px;

        }
    }

    .apropos_scroll_1, .apropos_scroll_2, .apropos_scroll_3, .apropos_scroll_4
    {
        top: 100px;
        position: relative;
        opacity: 0;
        transition: 1s ease;

        &.active
        {
            top: 0;
            opacity: 1;
        }

    }


    .devenirmembre
    {
        text-align: center;
        margin-top: 40px;
    }


}
