.article
{
    margin: 100px 0;

    display: flex;
    flex-direction: column;


    img
    {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }

    &_content
    {
        margin: $m-l 15%;

        p
        {
            @include font(lucida, petit);
        }

        .article_excerpt
        {
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
}
