#actu
{
    .actu
    {
        position: relative;
        top: 100px;
        transition: 1s ease;
        opacity: 0;

        &.active
        {
            opacity: 1;
            top: 0;
        }
    }
}

.actu
{
    h2
    {
        @include font(boucherie, moyen);
        position: relative;
        width: calc(100% - 15% - 7%);
        margin-left: 7%;
        @include break(tablet)
        {
            width: calc(100% - 15% - 40px);
            margin-left: 40px;
        }
    }

    &_container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        margin: 50px 15% 50px 7%;
        @include break(laptop)
        {
            grid-template-columns: repeat(2, 1fr);
        }
        @include break(tablet)
        {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
            margin: 50px calc(5.2vw + 50px) 50px 40px;
        }
        @include break(mobile)
        {
            grid-template-columns: repeat(1, 1fr);
        }

        .actu_article
        {
            text-decoration: none;
            width: 100%;
            height: 400px;
            position: relative;
            @include break(laptop)
            {
                &:nth-child(3)
                {
                    display: none;
                }

                #actu-list & // si possède un id/class parent nommé #actu-list
                {
                    display: block;
                }
            }
            @include break(tablet)
            {
                height: 500px;
            }
            @include break(mobile)
            {
                height: 300px;
            }
            @include break(mobile-small)
            {
                height: 400px;
            }

            &:hover
            {
                .article_img_container
                {
                    img
                    {
                        width: 105%;
                        height: 105%;
                    }
                }
            }

            .article_img_container
            {
                width: 85%;
                height: 100%;
                overflow: hidden;
                position: relative;

                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s ease;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                }
            }


            .actu_date
            {
                @include font(boucherie, petit);
                position: absolute;
                bottom: 60%;
                left: calc(85% + 5px);

                span
                {
                    display: block;
                }
            }

            .actu_content
            {
                background: $c-w;
                padding: 10px 0 10px 20px;
                position: absolute;
                right: 0;
                top: 40%;
                max-width: 80%;
                min-height: 61%;

                h3
                {
                    @include font(agency, moyen);
                    position: relative;

                    &:after
                    {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: $c-1;
                        position: absolute;
                        left: 0px;
                        bottom: -5px;
                    }
                }

                .actu_excerpt
                {
                    @include font(lucida, petit);
                    margin: 10px 0;
                }

                .actu_ensavoirplus
                {
                    @include font(boucherie, petit);
                    color: $c-1;
                    position: absolute;
                    bottom: 0;
                }
            }

        }
    }

    .memberlist
    {
        text-align: center;
    }

}
