
.nouscontacter
{
    @include font(boucherie, moyen);
    margin-top: $m-l;
    margin-left: 7%;
    @include break(tablet)
    {
        margin-left: 40px;
    }
    @include break(mobile)
    {
        margin-top: $m-m;
    }

    position: relative;
    top: 100px;
    transition: 1s ease;
    opacity: 0;

    &.active
    {
        top: 0;
        opacity: 1;
    }
}


#contact_form
{
    position: relative;
    top: 100px;
    transition: 1s ease;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 15% - 7%);
    margin-left: 7%;
    margin-right: auto;
    @include break(tablet)
    {
        width: calc(100% - 15% - 40px);
        margin-left: 40px;
    }

    &.active
    {
        top: 0;
        opacity: 1;
    }

    .inscription_form
    {
        margin-top: 80px;
        @include break(mobile)
        {
            margin-top: 40px;
        }

        form
        {
            .form_group
            {
                position: relative;
                display: inline-block;
                width: calc(50% - 12px);
                margin-bottom: $m-l;
                @include break(mobile)
                {
                    margin-bottom: $m-m;
                }

                &:nth-child(1), &:nth-child(3)
                {
                    margin-right: 20px;
                }

                label
                {
                    z-index: 1;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    pointer-events: none;
                    @include font(lucida, petit);
                    transition: 0.3s ease;

                    &.selected
                    {
                        top: -15px;
                        left: -5px;
                        font-size: 12px;
                        color: $c-1;
                    }
                }

                input[type="text"], input[type="mail"]
                {
                    position: relative;
                    border: none;
                    border-bottom: 2px solid $c-2;
                    width: 100%;
                    padding: 5px;
                    @include font(lucida, petit);

                    &:focus
                    {
                        outline: none;
                    }
                }
            }

            .form_area
            {
                position: relative;

                label
                {
                    z-index: 1;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    pointer-events: none;
                    @include font(lucida, petit);
                    transition: 0.3s ease;

                    &.selected
                    {
                        top: -15px;
                        left: -5px;
                        font-size: 12px;
                        color: $c-1;
                    }
                }

                textarea
                {
                    border: none;
                    border-bottom: 2px solid $c-2;
                    display: block;
                    width: 100%;
                    height: 45px;
                    @include font(lucida, petit);
                    resize: none;
                    padding: 10px;
                    margin-bottom: $m-m;
                    transition: 0.3s ease;

                    &.active
                    {
                        height: 150px;
                    }

                    &:focus
                    {
                        outline: none;
                    }
                }
            }

            input[type="submit"]
            {
                border: none;
                background: $c-2;
                color: $c-w;
                transition: 0.3s ease;
                cursor: pointer;

                &:hover
                {
                    background: $c-1;
                }
            }
        }
    }
}
