#etablissements
{
    .etablissements
    {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 600px;
        grid-gap: 0px;
        margin-bottom: 50px;
        @include break(laptop)
        {
            grid-template-columns: repeat(3, 1fr);
        }
        @include break(tablet)
        {
            grid-template-columns: repeat(2, 1fr);
        }
        @include break(mobile)
        {
            grid-auto-rows: 450px;
        }

        .etablissement
        {
            padding: 60px 40px;
            position: relative;
            display: block;
            text-decoration: none;
            overflow: hidden;
            @include break(laptop)
            {
                &:nth-child(7), &:nth-child(8)
                {
                    display: none;
                }
            }
            @include break(tablet)
            {
                &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8)
                {
                    display: none;
                }
            }
            @include break(mobile-small)
            {
                padding: 40px 20px;
            }

            &:hover
            {
                &:after
                {
                    background: rgba(0, 0, 0, 0.5);
                }

                img
                {
                    width: 110%;
                    height: 110%;
                }

                .located
                {
                    i
                    {
                        color: $c-1;
                    }
                }

                .ensavoirplus
                {
                    bottom: 100px;
                    opacity: 1;
                }
            }

            &:after
            {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                z-index: 0;
                transition: 0.3s ease;
            }

            img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: 0.5s ease;

                &:before
                {
                    content:"";
                    position: absolute;
                    bottom: 0;
                    right: 40px;
                    width: 1px;
                    height: 200px;
                    background: $c-w;
                }
            }

            h2
            {
                @include font(agency, moyen);
                color: $c-w;
                position: relative;
                z-index: 1;
            }

            .located
            {
                position: relative;
                left: 25px;
                z-index: 1;
                @include break(mobile)
                {
                    left: 0;
                    margin-top: 20px;
                }

                i
                {
                    color: $c-w;
                    transition: 0.3s ease;
                }

                span
                {
                    @include font(boucherie, petit);
                    color: $c-w;
                }
            }

            .specialization
            {
                @include font(boucherie, petit);
                transform: rotate(-90deg);
                position: absolute;
                bottom: 40px;
                transform-origin: top left;
                color: $c-w;
                z-index: 1;
            }

            .ensavoirplus
            {
                transform: rotate(-90deg);
                transform-origin: top left;
                @include font(agency, petit);
                color: $c-w;
                position: absolute;
                bottom: 0px;
                right: 0px;
                z-index: 1;
                transition: 0.3s ease;
                opacity: 0;

                &::after
                {
                    content: "";
                    width: 400px;
                    height: 1px;
                    background: $c-1;
                    position: absolute;
                    z-index: 1;
                    bottom: 0px;
                    right: 0px;
                }
            }
        }
    }

    .memberlist
    {
        text-align: center;
    }
}
