footer
{
    width: 100%;
    background-color: $c-2;
    padding: 100px 0;
    @include break(mobile)
    {
        padding: 50px 0;
    }

    .footer
    {
        text-align: left;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
        grid-template-areas:
        "a b c";
        @include break(tablet)
        {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 40px;
            grid-template-areas:
            "a"
            "b"
            "c";
            text-align: center;
        }

        p, a
        {
            @include font(lucida, petit);
            color: $c-w;
            line-height: 28px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .footer_contact
        {
            grid-area: a;
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo
            {
                margin-bottom: 20px;
            }

            p:nth-child(1)
            {
                color: $c-1;
                text-transform: uppercase;
            }
        }

        .footer_nav
        {
            grid-area: b;
            display: flex;
            align-items: center;
            flex-direction: column;

            a
            {
                transition: 0.3s ease;
                display: block;

                &:hover
                {
                    color: $c-1;
                }
            }
        }

        .footer_social
        {
            grid-area: c;
            display: flex;
            align-items: center;
            flex-direction: column;

            p:nth-child(1)
            {
                color: $c-1;
            }

            &_rs
            {

                display: flex;
                flex-direction: row;
                margin: 10px 0;

                a
                {
                    position: relative;
                    width: 30px;
                    text-align: center;

                    &:nth-child(1)
                    {
                        i
                        {
                            left: -1px;
                        }
                    }

                    &:nth-child(2)
                    {
                        margin: 0 20px;
                    }

                    i
                    {
                        color: $c-2;
                        position: relative;
                        z-index: 1;
                        transition: 0.3s ease;
                        top: 2px;
                    }

                    &:hover
                    {
                        i
                        {
                            color: $c-1;
                        }
                    }

                    &:after
                    {
                        content: "";
                        position:absolute;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: $c-w;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 0;
                    }
                }
            }
        }
    }
}

.copyright
{
    margin-top: -1px;
    text-align: center;
    @include font(lucida, petit);
    font-size: 12px !important;
    color: $c-w;
    background: $c-2;
    padding: 20px 0;
    letter-spacing: 2px;
    @include break(mobile)
    {

        padding: 20px 15% 20px 40px;
    }

    span
    {
        a
        {
            text-decoration: none;
            color: $c-1;
        }
    }
}

.backtotop
{
    position: fixed;
    right: calc(5.2vw + 20px);
    bottom: 0px;
    background: $c-w;
    border-radius: 50%;
    border: 1px solid $c-1;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
    @include break(tablet)
    {
        right: 5.2vw;
    }

    &.visible
    {
        bottom: 40px;
        opacity: 1;
    }

    i
    {
        color: $c-2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
