.barres
{
    position: fixed;
    z-index: 1;

    .barre
    {
        width: 1px;
        background: $c-1;
        position: fixed;
        right: calc(5.2vw + 40px);
        @include break(tablet)
        {
            right: calc(5.2vw + 20px);
        }

        &.active
        {
            z-index: 2;
            background: $c-w;
        }

        &_1
        {
            top: 0;
            height: calc(9.2vh - 10px);
        }

        &_2
        {
            top: calc(9.2vh + 90px);
            height: calc(100vh - (9.2vh + 90px));
            @include break(tablet)
            {
                top: calc(9.2vh + 50px);
                height: calc(100vh - (9.2vh + 50px));
            }
        }
    }
}

header.home
{
    // background-image: url('../images/header.jpg');

    width: 100%;
    height: 100vh;
    position: relative;
    @include break(mobile)
    {
        background-image: url('../images/header2.jpg');
        background-position: center;
        background-size: cover;
    }

    .header_paralaxe
    {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @include break(mobile)
        {
            display: none;
        }

        img
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:nth-child(1)
            {
                z-index: -1;
            }

            &:nth-child(2)
            {
                z-index: 1;
                position: absolute;
                top: calc(100% - 510px);
                left: 50%;
                transform: translateX(-50%);
                width: 2880px;
                height: 750px;
                object-position: bottom center;
                object-fit: contain;
                @include break(laptop)
                {
                    top: calc(100% - 450px);
                    height: 530px;
                }
                @include break(tablet)
                {
                    top: calc(100% - 390px);
                    height: 390px;
                }
            }
        }

        p
        {
            position: absolute;
            @include font(agency-ext, grand);
            font-size: 110px;
            left: 50%;
            transform: translate(-50%, 0);
            white-space: nowrap;
            color: rgba($c-w, 0.7);
            bottom: 278px;
            z-index: 0;
            @include break(1600px)
            {
                font-size: 80px;
                bottom: 285px;
            }
            @include break(laptop)
            {
                font-size: 60px;
                bottom: 290px;
            }
            @include break(tablet)
            {
                font-size: 40px;
                bottom: 273px;
            }

            span
            {
                position: relative;
                top: -50px;
                opacity: 0;
                @for $i from 1 through 11
                {
                    &:nth-child(#{$i})
                    {
                        transition: 0.5s ease-in-out calc(0.5s + (0.1s * #{$i}));
                    }
                }

                &.active
                {
                    top: 0;
                    opacity: 1;
                }
            }
        }
    }


    .logo
    {
        z-index: 1;
        width: 200px;
        height: 80px;
        position: absolute;
        top: 9.2vh;
        left: 100px;
        display: flex;
        align-items: center;
        @include break(tablet)
        {
            top: inherit;
            bottom: 10vh;
            left: 50%;
            transform: translateX(-50%);
        }

        img
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .scroller
    {
        width: 2px;
        height: 0px;
        background: $c-w;
        position: absolute;
        top: 90vh;
        left: 50%;
        transform: translate(-50%, -100%);
        animation-name: scroller;
        animation-duration: 2s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        opacity: 1;

        @keyframes scroller
        {
            0%
            {
                top: 90vh;
                height: 0px;
                opacity: 0;
            }

            50%
            {
                top: 95vh;
                height: 30px;
                opacity: 1;

            }

            100%
            {
                top: 95vh;
                opacity: 0;
                height: 0px;
            }
        }

    }
}

header.header-small
{
    img
    {
        width: 100%;
        height: 550px;
        object-fit: cover;
        object-position: 0px 80%;
        @include break(tablet)
        {
            object-position: center bottom;
            height: 400px;
        }
        @include break(tablet)
        {
            height: 300px;
        }
    }
}

nav
{
    position: fixed;
    right: 5.2vw;
    top: 9.2vh;
    z-index: 2;

    .burger
    {
        background: $c-w;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include break(tablet)
        {
            width: 40px;
            height: 40px;
        }

        &_ligne
        {
            width: 40px;
            height: 4px;
            background: $c-2;
            margin: 5px 0;
            transition: margin 0.3s ease, opacity 0.1s ease, transform 0.3s ease;
            @include break(tablet)
            {
                width: 20px;
                height: 2px;
                margin: 3px 0;
            }

            &:nth-child(1).active, &:nth-child(3).active
            {
                opacity: 0;
            }

            &.active
            {
                margin: 0;
                transform: rotate(45deg);
            }
        }
    }

    .nav
    {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
        display: flex;
        flex-direction: row;
        opacity: 0;
        z-index: -1;
        background: rgba(255, 255, 255, 1);
        transition: 0.3s ease;
        @include break(tablet)
        {
            display: none;
        }

        &.active
        {
            z-index: 1;
            right: 100px;
            opacity: 1;
        }

        li
        {
            list-style-type: none;

            a
            {
                margin: 0 5px;
                display: block;
                text-decoration: none;
                color: $c-2;
                text-align: center;
                @include font(agency, moyen);
                white-space: nowrap;
                background: rgba(255, 255, 255, 1);
                transition: 0.3s ease;
                padding: 5px 10px;
                position: relative;

                &:hover
                {
                    background: rgba(255, 255, 255, 1);
                    color: $c-1;

                    &::before
                    {
                        width: 100%;
                        left: 0;
                    }
                }

                &::before
                {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0px;
                    width: 0;
                    height: 2px;
                    background: $c-2;
                    transition: 0.3s ease;
                }
            }
        }
    }

    .rs
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        opacity: 0;
        z-index: -1;
        transition: 0.3s ease;

        &.active
        {
            top: 100px;
            opacity: 1;
            z-index: 1;
        }

        li
        {
            list-style-type: none;
            position: relative;

            &:after
            {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: $c-w;
                z-index: 0;
            }

            a
            {
                z-index: 1;
                position: relative;
                margin: 20px 0;
                display: block;
                transition: 0.3s ease;

                &:hover
                {
                    i
                    {
                        color: $c-1;
                    }
                }

                i
                {
                    color: $c-2;
                    position: relative;
                    top: 2px;
                }
            }

            &:nth-child(1)
            {
                i
                {
                    position: relative;
                    left: 2px;
                }
            }
        }
    }
}
