.home_contact
{
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 0px;
    grid-template-areas:
    "a b"
    "a c";
    @include break(laptop)
    {
        grid-template-columns: 30% 1fr;
    }
    @include break(tablet)
    {
        grid-template-columns: 1fr;
        grid-template-areas:
        "b"
        "c";
    }

    &_img
    {
        background-image: url('../images/contact.jpg');
        grid-area: a;
        width: 100%;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        @include break(tablet)
        {
            display: none;
        }
    }

    .home_contact_infos
    {
        grid-area: b;
        width: 80%;
        margin: auto;
        @include break(tablet)
        {
            width: 100%;
            margin: auto auto auto 40px;
        }
        @include break(mobile)
        {
            margin: auto auto auto 40px;
        }

        h2
        {
            @include font(boucherie, moyen);
            margin-bottom: 25px;
        }

        &_container
        {
            display: flex;
            flex-direction: row;
            @include break(mobile)
            {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            p
            {
                @include font(lucida, petit);
                line-height: 33px;
            }

            i
            {
                margin-right: 10px;
                width: 15px;
                line-height: 33px;
                color: $c-1;
            }
        }

        &_content
        {
            display: flex;
            flex-direction: column;
        }

        &_adress
        {
            display: flex;
            flex-direction: row;
            margin-right: 40px;
        }

        &_tel
        {
            display: flex;
            flex-direction: row;
        }

        &_mail
        {
            display: flex;
            flex-direction: row;
        }
    }

    &_map
    {
        grid-area: c;
        width: 100%;
        height: 100%;

        iframe
        {
            width: 100%;
            height: 100%;
        }
    }
}
