#apropos
{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    opacity: 0;
    transition: 1s ease;
    top: 100px;

    @include break(laptop)
    {
        width: 80%;
    }
    @include break(tablet)
    {
        width: 100%;
        padding: 0 calc(40px + 5.2vw) 0 40px;
    }

    &.active
    {
        opacity: 1;
        top: 0;
    }

    .surtitre
    {
        @include font(boucherie, grand);
    }

    h1
    {
        @include font(agency, grand);
    }

    .text
    {
        @include font(lucida, petit);
        margin: 50px 0;
        line-height: 30px;
        width: 50%;
        @include break(tablet)
        {
            width: 80%;
        }
        @include break(mobile)
        {
            width: 100%;
            margin: 30px 0;
        }
    }

    a.button
    {
        margin-right: 20px;

        @include break(mobile-small)
        {
            margin-right: 15px;
            &:last-child
            {
                margin-right: 0;
            }
        }
    }
}
