#inscription, #contact_inscription
{
    position: relative;
    opacity: 0;
    transition: 1s ease;
    top: 100px;
    width: calc(100% - 15% - 7%);
    margin-left: 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    grid-template-areas:
    "a b";
    @include break(tablet)
    {
        width: calc(100% - 15% - 50px);
        margin-left: 40px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        grid-template-areas:
        "a"
        "b";
    }

    &.active
    {
        opacity: 1;
        top: 0;
    }

    .inscription_infos
    {
        grid-area: a;

        h2
        {
            @include font(boucherie, moyen);
            margin-bottom: $m-m;
            @include break(mobile)
            {
                margin-bottom: $m-sm;
            }
        }

        p
        {
            @include font(lucida, petit);
            margin-bottom: $m-sm;

            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }

    .inscription_form
    {
        grid-area: b;
        margin-top: 80px;
        @include break(tablet)
        {
            margin-top: 0;
        }

        form
        {
            min-height: 400px;
            @include break(tablet)
            {
                min-height: inherit;
            }

            .form_group
            {
                position: relative;
                display: inline-block;
                width: calc(50% - 12px);
                margin-bottom: $m-l;
                @include break(mobile)
                {
                    margin-bottom: $m-m;
                }

                &:nth-child(1)
                {
                    margin-right: 20px;
                }

                label
                {
                    z-index: 1;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    pointer-events: none;
                    @include font(lucida, petit);
                    transition: 0.3s ease;

                    &.selected
                    {
                        top: -15px;
                        left: -5px;
                        font-size: 12px;
                        color: $c-1;
                    }
                }

                input[type="text"], input[type="mail"]
                {
                    position: relative;
                    border: none;
                    border-bottom: 2px solid $c-2;
                    width: 100%;
                    padding: 5px;
                    @include font(lucida, petit);

                    &:focus
                    {
                        outline: none;
                    }
                }
            }

            .form_area
            {
                position: relative;

                label
                {
                    z-index: 1;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    pointer-events: none;
                    @include font(lucida, petit);
                    transition: 0.3s ease;

                    &.selected
                    {
                        top: -15px;
                        left: -5px;
                        font-size: 12px;
                        color: $c-1;
                    }
                }

                textarea
                {
                    border: none;
                    border-bottom: 2px solid $c-2;
                    display: block;
                    width: 100%;
                    height: 45px;
                    @include font(lucida, petit);
                    resize: none;
                    padding: 10px;
                    margin-bottom: $m-m;
                    transition: 0.3s ease;

                    &.active
                    {
                        height: 150px;
                    }

                    &:focus
                    {
                        outline: none;
                    }
                }
            }

            input[type="submit"]
            {
                border: none;
                background: $c-2;
                color: $c-w;
                transition: 0.3s ease;
                cursor: pointer;

                &:hover
                {
                    background: $c-1;
                }
            }
        }
    }
}
