.section_list
{
    margin-left: 15%;
    @include break(laptop)
    {
        margin-left: 40px;
    }
}

.annuaire_entete
{
    margin-left: 7%;
    @include break(laptop)
    {
        margin: 0 calc(5.2vw + 50px) 0 7%;
    }
    @include break(tablet)
    {
        margin: 0 calc(5.2vw + 50px) 0 40px;
    }

    .annuaire_subtitle
    {
        @include font(boucherie, grand);
    }

    h1
    {
        @include font(agency, grand);
    }
}

.annuaire
{
    margin: $m-l 17% 200px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 6%;
    @include break(mobile)
    {
        grid-template-columns: repeat(1, 1fr);
        margin: $m-m 17% 100px 0;
    }
    @include break(mobile-small)
    {
        margin: $m-m 17% 150px 0;
    }

    &_etablissement
    {
        grid-row: span 1;
        grid-column: span 1;
        position: relative;
        display: none;

        &.visible
        {
            display: block;
        }

        img
        {
            width: 90%;
            height: 380px;
            object-fit: cover;
            @include break(mobile)
            {
                height: 280px;
            }
            @include break(mobile-small)
            {
                width: 80%;
            }
        }

        h2
        {
            @include font(agency, grand);
            color: $c-2;
            text-transform: none;
            background: $c-w;
            padding: 10px 20px;
            position: absolute;
            right: 0;
            top: 80%;
            max-width: 80%;
            min-height: 75px;
            max-height: 130px;
            overflow: hidden;
            @include break(tablet)
            {
                max-width: 85%;
            }
            @include break(mobile)
            {
                max-height: 155px;
            }
            @include break(mobile-small)
            {
                max-width: 70%;
                right: 10%;
            }

            &::after
            {
                content: "";
                position: absolute;
                width: calc(100% - 40px);
                height: 1px;
                background: $c-1;
                left: 20px;
                bottom: 0px;
            }
        }

        ul
        {
            list-style-type: none;
            position: absolute;
            bottom: 20%;
            left: calc(90% + 5px);
            @include break(mobile-small)
            {
                left: calc(80% + 5px)
            }

            li
            {
                @include font(boucherie, petit);
                color: $c-1;
            }
        }
    }
}

.filter
{
    margin: 50px 14% 0 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    position: relative;
    @include break(tablet)
    {
        display: none;
    }

    &-small
    {
        margin: 50px 0;
        display: none;
        @include break(tablet)
        {
            display: block;
        }
    }

    &::after
    {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $c-1;
        bottom: 0px;
        z-index: 1;
    }

    li
    {
        @include font(boucherie, petit);
        padding: 10px 20px;
        border: 1px solid $c-w;
        transition: 0.3s ease;
        cursor: pointer;
        position: relative;

        &.active
        {
            border: 1px solid $c-1;
            border-bottom: 1px solid $c-w;
            color: $c-1;
            z-index: 2;
        }

        &:hover
        {
            color: $c-1;
        }
    }
}
