.modal
{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: rgba($c-2, 1);
    transition: 0.3s ease;
    opacity: 0;

    &.active
    {
        opacity: 1;
        left: 0;
    }

    &-nav
    {
        .nav
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            height: 100%;

            li
            {
                a
                {
                    @include font(boucherie, petit);
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    padding: 20px;
                }
            }
        }

        .rs
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            li
            {

                a
                {

                }
            }
        }
    }

    &-filtre
    {
        z-index: 10;

        .croix
        {
            z-index: 15;
            position: absolute;
            top: 9.2vh;
            right: 5.2vw;
            width: 40px;
            height: 40px;
            background: $c-w;
            border-radius: 50%;

            .croix-barre
            {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 2px;
                background: $c-2;

                &:nth-child(1)
                {
                    transform: translate(-50%,-50%) rotate(45deg);
                }

                &:nth-child(2)
                {
                    transform: translate(-50%,-50%) rotate(-45deg);
                }
            }
        }

        .filter
        {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            height: 100%;

            li
            {
                @include font(boucherie, petit);
                display: inline-block;
                color: $c-w;
                text-decoration: none;
                border: none;

                &.active
                {
                    color: $c-1;
                    border: none;
                }
            }
        }
    }
}
