.single_barre
{
    z-index: 1;
    position: fixed;
    @include break(tablet)
    {
        display: none;
    }

    .barre
    {
        width: 1px;
        background: $c-w;
        position: fixed;
        right: calc(5.2vw + 40px);


        &_1
        {
            top: 0;
            height: calc(9.2vh - 10px);
        }

        &_2
        {
            top: calc(9.2vh + 90px);
            height: calc(100vh - (9.2vh + 90px));
        }
    }
}

.single
{
    position: relative;
    display: flex;
    flex-direction: row;
    @include break(tablet)
    {
        display: block;
    }

    &_galery
    {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 13vw;
        height: 100vh;
        justify-content: center;
        z-index: 2;
        @include break(tablet)
        {
            z-index: 0;
            display: block;
            position: relative;
            width: 100%;
            height: 400px;
        }

        &.blocked
        {
            position: absolute;
            bottom: 0;
        }

        &::after
        {
            content: "";
            width: 1px;
            height: 100vh;
            background: $c-1;
            position: absolute;
            left: 35%;
            top: 0;
            z-index: -1;
            @include break(tablet)
            {
                display: none;
            }
        }

        .img_galerie
        {
            width: 100%;
            height: 20vh;
            margin: 5px 0;
            position: relative;
            @include break(tablet)
            {
                height: 100%;
                margin: 0;
            }

            &:before
            {
                z-index: -1;
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0,-50%);
                width: 70%;
                height: 1px;
                background: $c-1;
                transition: 0.3s ease;
                @include break(tablet)
                {
                    display: none;
                }
            }

            &:after
            {
                z-index: -1;
                content: "";
                position: absolute;
                top: 50%;
                left: calc(70% - 10px);
                transform: translate(0,-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $c-1;
                transition: 0.3s ease;
                @include break(tablet)
                {
                    display: none;
                }
            }

            &.visible
            {
                &:before
                {
                    left: 20%;
                }

                &:after
                {
                    left: 90%;
                }
            }

            img
            {
                width: 70%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                @include break(tablet)
                {
                    width: 100%;
                }
            }
        }
    }

    &_container
    {
        display: flex;
        flex-direction: column;
        position: relative;
        left: calc(13vw + 40px);
        width: calc(100vw - (13vw + 80px + 50vw));
        top: 3vh;
        @include break(tablet)
        {
            left: 0;
            margin-left: 40px;
            width: calc( 100% - 15% - 40px );
        }
    }

    &_img
    {
        position: fixed;
        width: 50vw;
        height: 100vh;
        right: 0;
        transition: 0.3s ease;
        @include break(tablet)
        {
            display: none;
        }

        &.active
        {
            width: 40vw;
        }

        &.blocked
        {
            position: absolute;
            bottom: 0;
        }

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.single_top
{
    height: 100vh;
    @include break(tablet)
    {
        height: auto;
    }

    .filariane
    {
        margin-bottom: 15vh;
        @include break(tablet)
        {
            margin-bottom: 25px;
        }
    }

    .single_surtitre
    {
        @include font(boucherie, grand);
    }

    h1
    {
        @include font(agency, grand);
    }

    .single_located
    {
        @include font(boucherie, petit);
        margin: 20px 0 0 20px;
        @include break(tablet)
        {
            margin: 20px 0 0 0;
        }

        i
        {
            color: $c-1;
        }

        .single_slash
        {
            margin: 0 20px;
            @include break(mobile)
            {
                display: block;
                opacity: 0;
                font-size: 5px;
            }
        }

        .single_tags
        {
            a
            {
                text-decoration: none;
                color: $c-2;
                transition: 0.3s ease;

                &:hover
                {
                    color: $c-1;
                }
            }
        }
    }

    .single_exerpt
    {
        @include font(lucida, petit);
        margin: 30px 0;
    }

    .single_ensavoirplus
    {
        @include font(boucherie, petit);
        text-decoration: none;
        color: $c-1;
        @include break(tablet)
        {
            display: none;
        }
    }
}

.single_bot
{
    width: 100%;
    min-height: 100vh;
    @include break(tablet)
    {
        min-height: auto;
        margin-bottom: 100px;
    }

    p
    {
        @include font(lucida, petit);
    }
}
