.slick-list
{
    width: 100%;
    height: 100%;
}

.slick-track
{
    height: 100%;
}

.slick-slide
{
    height: 100%;

    div
    {
        height: 100%;
        width: 100%;
    }
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    li
    {
        margin: 0 10px;
        width: 10px;
        height: 10px;
        background: rgba($c-w, 0.8);
        border-radius: 50%;
        border: 2px solid rgba($c-w, 0.8);

        &.slick-active
        {
            border: 2px solid rgba($c-w, 0.8);
            background: rgba($c-1, 0.8);
        }

        .slick-dot
        {

        }
    }

}
